In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
warnings.filterwarnings('ignore')

In [4]:
dfw = pd.read_csv(r"C:\Users\hp\OneDrive\Desktop\Energy_Demand-and-Prize_Prediction_App-Streamlit-main\Data\weather_features.csv")
dfe = pd.read_csv(r"C:\Users\hp\OneDrive\Desktop\Energy_Demand-and-Prize_Prediction_App-Streamlit-main\Data\energy_dataset.csv")

In [5]:
dfw.head()

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [6]:
dfe.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [7]:
dfe["time"] = pd.to_datetime(dfe["time"],utc=True)
dfw["dt_iso"] = pd.to_datetime(dfw["dt_iso"],utc=True)

In [8]:
df_ew= pd.merge(dfe, dfw , left_on="time", right_on="dt_iso", how="inner")

In [9]:
df_ew.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2014-12-31 23:00:00+00:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2014-12-31 23:00:00+00:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,1,309,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2014-12-31 23:00:00+00:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,0,226,0.0,0.0,0.0,0,800,clear,sky is clear,01
3,2014-12-31 23:00:00+00:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,7,58,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2014-12-31 23:00:00+00:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,1,21,0.0,0.0,0.0,0,800,clear,sky is clear,01n

In [10]:
df_ew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178396 entries, 0 to 178395
Data columns (total 46 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   time                                         178396 non-null  datetime64[ns, UTC]
 1   generation biomass                           178301 non-null  float64
 2   generation fossil brown coal/lignite         178306 non-null  float64
 3   generation fossil coal-derived gas           178306 non-null  float64
 4   generation fossil gas                        178306 non-null  float64
 5   generation fossil hard coal                  178306 non-null  float64
 6   generation fossil oil                        178301 non-null  float64
 7   generation fossil oil shale                  178306 non-null  float64
 8   generation fossil peat                       178306 non-null  float64
 9   generation geothermal                        178306 non-null  float64
 10  generation hydro pumped storage aggregated   0 non-null       float64
 11  generation hydro pumped storage consumption  178301 non-null  float64
 12  generation hydro run-of-river and poundage   178301 non-null  float64
 13  generation hydro water reservoir             178306 non-null  float64
 14  generation marine                            178301 non-null  float64
 15  generation nuclear                           178311 non-null  float64
 16  generation other                             178306 non-null  float64
 17  generation other renewable                   178306 non-null  float64
 18  generation solar                             178306 non-null  float64
 19  generation waste                             178301 non-null  float64
 20  generation wind offshore                     178306 non-null  float64
 21  generation wind onshore                      178306 non-null  float64
 22  forecast solar day ahead                     178396 non-null  float64
 23  forecast wind offshore eday ahead            0 non-null       float64
 24  forecast wind onshore day ahead              178396 non-null  float64
 25  total load forecast                          178396 non-null  float64
 26  total load actual                            178216 non-null  float64
 27  price day ahead                              178396 non-null  float64
 28  price actual                                 178396 non-null  float64
 29  dt_iso                                       178396 non-null  datetime64[ns, UTC]
 30  city_name                                    178396 non-null  object
 31  temp                                         178396 non-null  float64
 32  temp_min                                     178396 non-null  float64
 33  temp_max                                     178396 non-null  float64
 34  pressure                                     178396 non-null  int64
 35  humidity                                     178396 non-null  int64
 36  wind_speed                                   178396 non-null  int64
 37  wind_deg                                     178396 non-null  int64
 38  rain_1h                                      178396 non-null  float64
 39  rain_3h                                      178396 non-null  float64
 40  snow_3h                                      178396 non-null  float64
 41  clouds_all                                   178396 non-null  int64
 42  weather_id                                   178396 non-null  int64
 43  weather_main                                 178396 non-null  object
 44  weather_description                          178396 non-null  object
 45  weather_icon                                 178396 non-null  object
dtypes: datetime64[ns, UTC](2), float64(34), int64(6), object(4)
memory usage: 62.6+ MB

In [11]:
from datetime import datetime

In [12]:
df_ew['time'] = pd.to_datetime(df_ew['time'],utc=True).dt.strftime('%Y-%m-%d')

In [13]:
selected_columns = ['time',
                    'generation fossil brown coal/lignite',
                    'generation fossil coal-derived gas',
                    'generation fossil gas',
                    'generation fossil hard coal',
                    'generation fossil oil',
                    'generation fossil oil shale',
                    'generation fossil peat',
                    'temp',
                    'pressure',
                    'humidity',
                    'wind_speed',
                    'wind_deg',
                    'weather_main',
                    'total load forecast',
                    'total load actual',
                    'price day ahead',
                    'price actual']

df = df_ew[selected_columns].copy()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178396 entries, 0 to 178395
Data columns (total 18 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   time                                  178396 non-null  object
 1   generation fossil brown coal/lignite  178306 non-null  float64
 2   generation fossil coal-derived gas    178306 non-null  float64
 3   generation fossil gas                 178306 non-null  float64
 4   generation fossil hard coal           178306 non-null  float64
 5   generation fossil oil                 178301 non-null  float64
 6   generation fossil oil shale           178306 non-null  float64
 7   generation fossil peat                178306 non-null  float64
 8   temp                                  178396 non-null  float64
 9   pressure                              178396 non-null  int64
 10  humidity                              178396 non-null  int64
 11  wind_speed                            178396 non-null  int64
 12  wind_deg                              178396 non-null  int64
 13  weather_main                          178396 non-null  object
 14  total load forecast                   178396 non-null  float64
 15  total load actual                     178216 non-null  float64
 16  price day ahead                       178396 non-null  float64
 17  price actual                          178396 non-null  float64
dtypes: float64(12), int64(4), object(2)
memory usage: 24.5+ MB

In [15]:
columns_to_fill = ['total load actual',
                   'generation fossil brown coal/lignite',
                   'generation fossil coal-derived gas',
                   'generation fossil gas',
                   'generation fossil hard coal',
                   'generation fossil oil',
                   'generation fossil oil shale',
                   'generation fossil peat']

df[columns_to_fill] = df[columns_to_fill].fillna(0.0)

In [16]:
df.isnull().sum()

time                                    0
generation fossil brown coal/lignite    0
generation fossil coal-derived gas      0
generation fossil gas                   0
generation fossil hard coal             0
generation fossil oil                   0
generation fossil oil shale             0
generation fossil peat                  0
temp                                    0
pressure                                0
humidity                                0
wind_speed                              0
wind_deg                                0
weather_main                            0
total load forecast                     0
total load actual                       0
price day ahead                         0
price actual                            0
dtype: int64

In [17]:
df['generation fossil brown coal/lignite'] = df['generation fossil brown coal/lignite'].astype(int)
df['generation fossil coal-derived gas'] = df['generation fossil coal-derived gas'].astype(int)
df['generation fossil gas'] = df['generation fossil gas'].astype(int)
df['generation fossil hard coal'] = df['generation fossil hard coal'].astype(int)
df['generation fossil oil'] = df['generation fossil oil'].astype(int)
df['generation fossil oil shale'] = df['generation fossil oil shale'].astype(int)
df['generation fossil peat'] = df['generation fossil peat'].astype(int)
df['total load forecast'] = df['total load forecast'].astype(int)
df['total load actual'] = df['total load actual'].astype(int)
df['price day ahead'] = df['price day ahead'].astype(int)
df['price actual'] = df['price actual'].astype(int)
df['temp'] = df['temp'].astype(int)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178396 entries, 0 to 178395
Data columns (total 18 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   time                                  178396 non-null  object
 1   generation fossil brown coal/lignite  178396 non-null  int32
 2   generation fossil coal-derived gas    178396 non-null  int32
 3   generation fossil gas                 178396 non-null  int32
 4   generation fossil hard coal           178396 non-null  int32
 5   generation fossil oil                 178396 non-null  int32
 6   generation fossil oil shale           178396 non-null  int32
 7   generation fossil peat                178396 non-null  int32
 8   temp                                  178396 non-null  int32
 9   pressure                              178396 non-null  int64
 10  humidity                              178396 non-null  int64
 11  wind_speed                            178396 non-null  int64
 12  wind_deg                              178396 non-null  int64
 13  weather_main                          178396 non-null  object
 14  total load forecast                   178396 non-null  int32
 15  total load actual                     178396 non-null  int32
 16  price day ahead                       178396 non-null  int32
 17  price actual                          178396 non-null  int32
dtypes: int32(12), int64(4), object(2)
memory usage: 16.3+ MB

In [19]:
df.tail()

,time,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,temp,pressure,humidity,wind_speed,wind_deg,weather_main,total load forecast,total load actual,price day ahead,price actual
178391,2018-12-31,0,0,6926,2166,163,0,0,279,1029,75,2,300,clear,24424,24455,64,69
178392,2018-12-31,0,0,6926,2166,163,0,0,275,1031,74,1,360,clear,24424,24455,64,69
178393,2018-12-31,0,0,6926,2166,163,0,0,275,1034,93,2,100,clear,24424,24455,64,69
178394,2018-12-31,0,0,6926,2166,163,0,0,280,1028,100,5,310,clear,24424,24455,64,69
178395,2018-12-31,0,0,6926,2166,163,0,0,283,1029,70,3,50,clear,24424,24455,64,69

In [20]:
df['time'] = pd.to_datetime(df['time'])

start_date = '2017-01-01'
end_date = '2018-12-31'

df1 = df[(df['time'] >= start_date) & (df['time'] <= end_date)]

In [21]:
df1.head()

,time,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,temp,pressure,humidity,wind_speed,wind_deg,weather_main,total load forecast,total load actual,price day ahead,price actual
88671,2017-01-01,900,0,5401,5959,176,0,0,279,1030,100,0,0,clouds,23326,23393,58,68
88672,2017-01-01,900,0,5401,5959,176,0,0,270,1030,92,1,350,clear,23326,23393,58,68
88673,2017-01-01,900,0,5401,5959,176,0,0,275,1030,75,1,178,mist,23326,23393,58,68
88674,2017-01-01,900,0,5401,5959,176,0,0,278,1029,93,5,260,clear,23326,23393,58,68
88675,2017-01-01,900,0,5401,5959,176,0,0,282,1029,93,2,28,clear,23326,23393,58,68

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89725 entries, 88671 to 178395
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   time                                  89725 non-null  datetime64[ns]
 1   generation fossil brown coal/lignite  89725 non-null  int32
 2   generation fossil coal-derived gas    89725 non-null  int32
 3   generation fossil gas                 89725 non-null  int32
 4   generation fossil hard coal           89725 non-null  int32
 5   generation fossil oil                 89725 non-null  int32
 6   generation fossil oil shale           89725 non-null  int32
 7   generation fossil peat                89725 non-null  int32
 8   temp                                  89725 non-null  int32
 9   pressure                              89725 non-null  int64
 10  humidity                              89725 non-null  int64
 11  wind_speed                            89725 non-null  int64
 12  wind_deg                              89725 non-null  int64
 13  weather_main                          89725 non-null  object
 14  total load forecast                   89725 non-null  int32
 15  total load actual                     89725 non-null  int32
 16  price day ahead                       89725 non-null  int32
 17  price actual                          89725 non-null  int32
dtypes: datetime64[ns](1), int32(12), int64(4), object(1)
memory usage: 8.9+ MB

In [23]:
selected_columns = ['generation fossil brown coal/lignite',
                    'generation fossil coal-derived gas',
                    'generation fossil gas',
                    'generation fossil hard coal',
                    'generation fossil oil',
                    'generation fossil oil shale',
                    'generation fossil peat',
                    'temp',
                    'pressure',
                    'humidity',
                    'wind_speed',
                    'wind_deg',
                    'weather_main',
                    'total load forecast',
                    'total load actual',
                    'price day ahead',
                    'price actual']

df2 = df1[selected_columns].copy()

In [24]:
df2.tail()

,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,temp,pressure,humidity,wind_speed,wind_deg,weather_main,total load forecast,total load actual,price day ahead,price actual
178391,0,0,6926,2166,163,0,0,279,1029,75,2,300,clear,24424,24455,64,69
178392,0,0,6926,2166,163,0,0,275,1031,74,1,360,clear,24424,24455,64,69
178393,0,0,6926,2166,163,0,0,275,1034,93,2,100,clear,24424,24455,64,69
178394,0,0,6926,2166,163,0,0,280,1028,100,5,310,clear,24424,24455,64,69
178395,0,0,6926,2166,163,0,0,283,1029,70,3,50,clear,24424,24455,64,69

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89725 entries, 88671 to 178395
Data columns (total 17 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   generation fossil brown coal/lignite  89725 non-null  int32
 1   generation fossil coal-derived gas    89725 non-null  int32
 2   generation fossil gas                 89725 non-null  int32
 3   generation fossil hard coal           89725 non-null  int32
 4   generation fossil oil                 89725 non-null  int32
 5   generation fossil oil shale           89725 non-null  int32
 6   generation fossil peat                89725 non-null  int32
 7   temp                                  89725 non-null  int32
 8   pressure                              89725 non-null  int64
 9   humidity                              89725 non-null  int64
 10  wind_speed                            89725 non-null  int64
 11  wind_deg                              89725 non-null  int64
 12  weather_main                          89725 non-null  object
 13  total load forecast                   89725 non-null  int32
 14  total load actual                     89725 non-null  int32
 15  price day ahead                       89725 non-null  int32
 16  price actual                          89725 non-null  int32
dtypes: int32(12), int64(4), object(1)
memory usage: 8.2+ MB

# Predicting Energy demand (Total load )

In [26]:
# Select the independent variables and the target variable
X = df2[['generation fossil brown coal/lignite', 'generation fossil coal-derived gas',
          'generation fossil gas', 'generation fossil hard coal', 'generation fossil oil',
          'generation fossil oil shale', 'generation fossil peat', 'total load actual']]
y = df2['total load forecast']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)
# Get user input for the independent variables
generation_brown_coal = float(input("Enter the generation from brown coal/lignite: "))
generation_coal_gas = float(input("Enter the generation from coal-derived gas: "))
generation_gas = float(input("Enter the generation from fossil gas: "))
generation_hard_coal = float(input("Enter the generation from hard coal: "))
generation_oil = float(input("Enter the generation from fossil oil: "))
generation_oil_shale = float(input("Enter the generation from oil shale: "))
generation_peat = float(input("Enter the generation from peat: "))
total_load_actual = float(input("Enter the total load actual: "))

# Predict the energy demand based on the user input
prediction = model.predict([[generation_brown_coal, generation_coal_gas, generation_gas, generation_hard_coal,
                             generation_oil, generation_oil_shale, generation_peat, total_load_actual]])

# Print the predicted energy demand
print("Predicted total load forecast:", prediction[0])

Enter the generation from brown coal/lignite:  23
Enter the generation from coal-derived gas:  43
Enter the generation from fossil gas:  53
Enter the generation from hard coal:  23
Enter the generation from fossil oil:  53
Enter the generation from oil shale:  23
Enter the generation from peat:  43
Enter the total load actual:  23

Predicted total load forecast: 357.07346265771474

# Predicting Energy Price

In [27]:
# Select the independent variables and the target variable
X = df2[['price actual', 'generation fossil brown coal/lignite', 'generation fossil coal-derived gas',
          'generation fossil gas', 'generation fossil hard coal', 'generation fossil oil',
          'generation fossil oil shale', 'generation fossil peat']]
y = df2['price day ahead']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = model.predict(X_test)

# Get user input for the independent variables
generation_brown_coal = float(input("Enter the generation from brown coal/lignite: "))
generation_coal_gas = float(input("Enter the generation from coal-derived gas: "))
generation_gas = float(input("Enter the generation from fossil gas: "))
generation_hard_coal = float(input("Enter the generation from hard coal: "))
generation_oil = float(input("Enter the generation from fossil oil: "))
generation_oil_shale = float(input("Enter the generation from oil shale: "))
generation_peat = float(input("Enter the generation from peat: "))
price_actual = float(input("Enter the actual price: "))

# Predict the energy price based on the user input
prediction = model.predict([[price_actual, generation_brown_coal, generation_coal_gas, generation_gas,
                             generation_hard_coal, generation_oil, generation_oil_shale, generation_peat]])

# Print the predicted energy price
print("Predicted price day ahead:", prediction[0])

Enter the generation from brown coal/lignite:  43
Enter the generation from coal-derived gas:  23
Enter the generation from fossil gas:  23
Enter the generation from hard coal:  43
Enter the generation from fossil oil:  13
Enter the generation from oil shale:  10
Enter the generation from peat:  31
Enter the actual price:  53

Predicted price day ahead: 37.40281715179223

# energy demand based on weather

In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import mean_absolute_error, accuracy_score, mean_squared_error ,r2_score
from sklearn.preprocessing import StandardScaler

In [29]:
# Select the independent variables and target variables for total load forecast
X_total_load = df2[['temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg']]
y_total_load = df2['total load forecast']

# Split the data into training and testing sets for total load forecast
X_train_total_load, X_test_total_load, y_train_total_load, y_test_total_load = train_test_split(X_total_load, y_total_load, test_size=0.2, random_state=42)

# Create and train the Multiple Linear Regression model for total load forecast
model_total_load = LinearRegression()
model_total_load.fit(X_train_total_load, y_train_total_load)

# Make predictions on the testing set for total load forecast
y_pred_total_load = model_total_load.predict(X_test_total_load)


# Select the independent variables and target variables for weather main
X_weather_main = df2[['temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg']]
y_weather_main = df2['weather_main']

# Split the data into training and testing sets for weather main
X_train_weather_main, X_test_weather_main, y_train_weather_main, y_test_weather_main = train_test_split(X_weather_main, y_weather_main, test_size=0.2, random_state=42)

# Scale the data for weather main
scaler = StandardScaler()
X_train_weather_main_scaled = scaler.fit_transform(X_train_weather_main)
X_test_weather_main_scaled = scaler.transform(X_test_weather_main)

# Create and train the Logistic Regression model for weather main
model_weather_main = LogisticRegression(max_iter=1000, solver='sag')
model_weather_main.fit(X_train_weather_main_scaled, y_train_weather_main)

# Make predictions on the testing set for weather main
y_pred_weather_main = model_weather_main.predict(X_test_weather_main_scaled)


# Get user input for the weather attributes
temp = float(input("Enter the temperature: "))
pressure = float(input("Enter the pressure: "))
humidity = float(input("Enter the humidity: "))
wind_speed = float(input("Enter the wind speed: "))
wind_deg = float(input("Enter the wind degree: "))

# Scale the user input
user_input_scaled = scaler.transform([[temp, pressure, humidity, wind_speed, wind_deg]])

# Predict the total load forecast based on user input
prediction_total_load = model_total_load.predict(user_input_scaled)

# Predict the weather main based on user input
prediction_weather_main = model_weather_main.predict(user_input_scaled)

# Print the predicted total load forecast and weather main
print("Predicted total load forecast:", prediction_total_load[0])
print("Predicted weather main:", prediction_weather_main[0])

Enter the temperature:  32
Enter the pressure:  12
Enter the humidity:  32
Enter the wind speed:  53
Enter the wind degree:  25

Predicted total load forecast: 26935.525972329626
Predicted weather main: snow

# energy prize based on weather

In [30]:
# Select the independent variables and target variables for prize day ahead
X_prize_day_ahead = df2[['temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg']]
y_prize_day_ahead = df2['price day ahead']

# Split the data into training and testing sets for prize day ahead
X_train_prize_day_ahead, X_test_prize_day_ahead, y_train_prize_day_ahead, y_test_prize_day_ahead = train_test_split(X_prize_day_ahead, y_prize_day_ahead, test_size=0.2, random_state=42)

# Create and train the Multiple Linear Regression model for prize day ahead
model_prize_day_ahead = LinearRegression()
model_prize_day_ahead.fit(X_train_prize_day_ahead, y_train_prize_day_ahead)

# Make predictions on the testing set for prize day ahead
y_pred_prize_day_ahead = model_prize_day_ahead.predict(X_test_prize_day_ahead)


# Select the independent variables and target variables for weather main
X_weather_main = df2[['temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg']]
y_weather_main = df2['weather_main']

# Split the data into training and testing sets for weather main
X_train_weather_main, X_test_weather_main, y_train_weather_main, y_test_weather_main = train_test_split(X_weather_main, y_weather_main, test_size=0.2, random_state=42)

# Scale the data for weather main
scaler = StandardScaler()
X_train_weather_main_scaled = scaler.fit_transform(X_train_weather_main)
X_test_weather_main_scaled = scaler.transform(X_test_weather_main)

# Create and train the Logistic Regression model for weather main
model_weather_main = LogisticRegression(max_iter=1000, solver='sag')
model_weather_main.fit(X_train_weather_main_scaled, y_train_weather_main)

# Make predictions on the testing set for weather main
y_pred_weather_main = model_weather_main.predict(X_test_weather_main_scaled)


# Get user input for the weather attributes
temp = float(input("Enter the temperature: "))
pressure = float(input("Enter the pressure: "))
humidity = float(input("Enter the humidity: "))
wind_speed = float(input("Enter the wind speed: "))
wind_deg = float(input("Enter the wind degree: "))

# Scale the user input
user_input_scaled = scaler.transform([[temp, pressure, humidity, wind_speed, wind_deg]])

# Predict the prize day ahead based on user input
prediction_prize_day_ahead = model_prize_day_ahead.predict(user_input_scaled)

# Predict the weather main based on user input
prediction_weather_main = model_weather_main.predict(user_input_scaled)

# Print the predicted prize day ahead and weather main
print("Predicted prize day ahead:", prediction_prize_day_ahead[0])
print("Predicted weather main:", prediction_weather_main[0])

Enter the temperature:  45
Enter the pressure:  11
Enter the humidity:  -13
Enter the wind speed:  -21
Enter the wind degree:  32

Predicted prize day ahead: -25.780341374666307
Predicted weather main: snow

In [31]:
df2.describe()

,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,temp,pressure,humidity,wind_speed,wind_deg,total load forecast,total load actual,price day ahead,price actual
count,89725.000000,89725.0,89725.000000,89725.000000,89725.000000,89725.0,89725.0,89725.000000,89725.000000,89725.000000,89725.000000,89725.000000,89725.000000,89725.000000,89725.000000,89725.000000
mean,447.945010,0.0,6141.416272,4011.356879,288.404257,0.0,0.0,289.063015,1017.077994,67.956556,2.446174,161.411959,28976.572940,28967.281872,54.337286,60.912733
std,311.182058,0.0,2400.358687,1712.154057,42.741439,0.0,0.0,8.059938,7.914619,21.961027,2.052929,118.741579,4602.398101,4617.768119,12.817840,12.426954
min,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,266.000000,936.000000,6.000000,0.000000,0.000000,18105.000000,0.000000,2.000000,10.000000
25%,187.000000,0.0,4374.000000,2566.000000,257.000000,0.0,0.0,283.000000,1014.000000,52.000000,1.000000,48.000000,25043.000000,25043.000000,47.000000,54.000000
50%,505.000000,0.0,5413.000000,4117.000000,297.000000,0.0,0.0,289.000000,1017.000000,71.000000,2.000000,160.000000,29113.000000,29139.000000,54.000000,60.000000
75%,662.000000,0.0,7266.000000,5409.000000,323.000000,0.0,0.0,295.000000,1021.000000,87.000000,4.000000,270.000000,32574.000000,32550.000000,63.000000,69.000000
max,999.000000,0.0,20034.000000,7740.000000,370.000000,0.0,0.0,315.000000,1041.000000,100.000000,133.000000,360.000000,41035.000000,41015.000000,101.000000,116.000000

In [32]:
sm = df.sample(n=5000, random_state=42)

In [33]:
sm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 61043 to 170327
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   time                                  5000 non-null   datetime64[ns]
 1   generation fossil brown coal/lignite  5000 non-null   int32
 2   generation fossil coal-derived gas    5000 non-null   int32
 3   generation fossil gas                 5000 non-null   int32
 4   generation fossil hard coal           5000 non-null   int32
 5   generation fossil oil                 5000 non-null   int32
 6   generation fossil oil shale           5000 non-null   int32
 7   generation fossil peat                5000 non-null   int32
 8   temp                                  5000 non-null   int32
 9   pressure                              5000 non-null   int64
 10  humidity                              5000 non-null   int64
 11  wind_speed                            5000 non-null   int64
 12  wind_deg                              5000 non-null   int64
 13  weather_main                          5000 non-null   object
 14  total load forecast                   5000 non-null   int32
 15  total load actual                     5000 non-null   int32
 16  price day ahead                       5000 non-null   int32
 17  price actual                          5000 non-null   int32
dtypes: datetime64[ns](1), int32(12), int64(4), object(1)
memory usage: 507.8+ KB

In [34]:
sm.describe()

,time,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,temp,pressure,humidity,wind_speed,wind_deg,total load forecast,total load actual,price day ahead,price actual
count,5000,5000.000000,5000.0,5000.000000,5000.000000,5000.000000,5000.0,5000.0,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2017-01-05 17:27:10.080000,445.180200,0.0,5640.133800,4240.234800,297.594000,0.0,0.0,289.084600,1036.266600,68.843000,2.427000,168.009600,28704.397800,28692.28500,49.391600,57.280200
min,2015-01-01 00:00:00,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,266.000000,938.000000,0.000000,0.000000,0.000000,18498.000000,0.00000,2.000000,9.000000
25%,2016-01-20 18:00:00,0.000000,0.0,4132.750000,2483.500000,262.750000,0.0,0.0,283.000000,1013.000000,54.000000,1.000000,56.750000,24790.000000,24797.00000,41.000000,49.000000
50%,2017-01-01 12:00:00,504.000000,0.0,4955.000000,4466.500000,299.000000,0.0,0.0,289.000000,1018.000000,72.000000,2.000000,180.000000,28831.000000,28866.00000,50.000000,57.000000
75%,2018-01-06 00:00:00,760.250000,0.0,6460.750000,5826.250000,329.000000,0.0,0.0,295.000000,1022.000000,87.000000,3.000000,270.000000,32329.000000,32247.50000,60.000000,67.000000
max,2018-12-31 00:00:00,997.000000,0.0,20019.000000,8315.000000,444.000000,0.0,0.0,315.000000,100211.000000,100.000000,15.000000,360.000000,40330.000000,40620.00000,101.000000,112.000000
std,NaN,356.094569,0.0,2257.064597,1956.067896,52.503349,0.0,0.0,8.012708,1402.876937,21.657963,1.981478,117.203753,4614.623311,4621.85629,14.576239,14.021876

In [35]:
sm.head()

,time,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,temp,pressure,humidity,wind_speed,wind_deg,weather_main,total load forecast,total load actual,price day ahead,price actual
61043,2016-05-19,0,0,5382,2219,304,0,0,292,1019,59,1,0,clear,30978,30737,34,43
96079,2017-03-01,979,0,8487,6758,283,0,0,278,1017,81,0,0,clouds,36314,36112,73,60
92849,2017-02-03,588,0,5099,3881,316,0,0,287,1023,100,1,0,mist,34149,34068,54,66
163112,2018-08-30,763,0,9675,5342,311,0,0,301,1017,65,3,110,clouds,33168,33768,73,79
159577,2018-08-01,697,0,10847,6686,338,0,0,306,1017,34,1,210,clear,37693,37139,69,75

In [36]:
df2.to_csv("EW.csv")

In [37]:
pip install catboost

Requirement already satisfied: catboost in c:\users\hp\anaconda3\lib\site-packages (1.2.7)
Requirement already satisfied: graphviz in c:\users\hp\anaconda3\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in c:\users\hp\anaconda3\lib\site-packages (from catboost) (3.8.4)
Requirement already satisfied: numpy<2.0,>=1.16.0 in c:\users\hp\anaconda3\lib\site-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in c:\users\hp\anaconda3\lib\site-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from catboost) (1.13.1)
Requirement already satisfied: plotly in c:\users\hp\anaconda3\lib\site-packages (from catboost) (5.22.0)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24->catboost) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\hp\anaconda3\lib\site-packages (from plotly->catboost) (8.2.2)
Note: you may need to restart the kernel to use updated packages.

In [38]:
from sklearn.tree import DecisionTreeClassifier

In [39]:
from catboost import CatBoostRegressor

In [40]:
s=pd.read_csv("EW.csv")

In [42]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Assuming your DataFrame is called 'df' and you have a 'weather_main' column and a 'total load actual' column
X = df[['weather_main']]  # Independent variable
y = df['total load actual']  # Target variable

# Map the categorical variable to integer codes using LabelEncoder
le = LabelEncoder()
X['weather_main_encoded'] = le.fit_transform(X['weather_main'])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X[['weather_main_encoded']], y, test_size=0.2, random_state=42)

# Create and train the Random Forest regression model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Get user input for the weather condition
user_input = input("Enter the weather condition: ")

# Encode the user input using the same LabelEncoder
user_input_encoded = le.transform([user_input])

# Predict the total load actual based on the user input
prediction = model.predict([user_input_encoded])

# Print the predicted total load actual
print("Predicted total load actual:", prediction[0])

Enter the weather condition:  snow

Predicted total load actual: 30057.664226510933

In [43]:
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89725 entries, 0 to 89724
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unnamed: 0                            89725 non-null  int64
 1   generation fossil brown coal/lignite  89725 non-null  int64
 2   generation fossil coal-derived gas    89725 non-null  int64
 3   generation fossil gas                 89725 non-null  int64
 4   generation fossil hard coal           89725 non-null  int64
 5   generation fossil oil                 89725 non-null  int64
 6   generation fossil oil shale           89725 non-null  int64
 7   generation fossil peat                89725 non-null  int64
 8   temp                                  89725 non-null  int64
 9   pressure                              89725 non-null  int64
 10  humidity                              89725 non-null  int64
 11  wind_speed                            89725 non-null  int64
 12  wind_deg                              89725 non-null  int64
 13  weather_main                          89725 non-null  object
 14  total load forecast                   89725 non-null  int64
 15  total load actual                     89725 non-null  int64
 16  price day ahead                       89725 non-null  int64
 17  price actual                          89725 non-null  int64
dtypes: int64(17), object(1)
memory usage: 12.3+ MB

In [44]:
from catboost import CatBoostRegressor

# Assuming your DataFrame is called 'df' and the independent variables are 'weather_main' and 'price_actual'
X =s[['weather_main', 'price actual']]  # Independent variables
y = s['total load actual']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the CatBoostRegressor model
model = CatBoostRegressor(iterations=100, depth=6, learning_rate=0.1, loss_function='RMSE', random_state=42)
model.fit(X_train, y_train, cat_features=[0])  # Specify the categorical feature index

# Get user input for weather_main and price_actual
weather_input = input("Enter the weather condition (rain, cloud, etc.): ")
price_input = float(input("Enter the price actual: "))

# Create a user input DataFrame
user_input = pd.DataFrame({'weather_main': [weather_input], 'price actual': [price_input]})

# Make a prediction using the user input
predicted_total_load = model.predict(user_input)

# Print the predicted total load actual
print("Predicted total load actual:", predicted_total_load[0])

0:	learn: 4515.7628349	total: 249ms	remaining: 24.7s
1:	learn: 4438.5477344	total: 308ms	remaining: 15.1s
2:	learn: 4374.8091865	total: 374ms	remaining: 12.1s
3:	learn: 4321.1715418	total: 440ms	remaining: 10.6s
4:	learn: 4278.4977936	total: 512ms	remaining: 9.73s
5:	learn: 4241.5564003	total: 579ms	remaining: 9.06s
6:	learn: 4211.5250802	total: 643ms	remaining: 8.55s
7:	learn: 4187.0898090	total: 707ms	remaining: 8.13s
8:	learn: 4166.4712197	total: 768ms	remaining: 7.77s
9:	learn: 4149.5592162	total: 827ms	remaining: 7.44s
10:	learn: 4135.4901409	total: 888ms	remaining: 7.18s
11:	learn: 4124.3024084	total: 939ms	remaining: 6.89s
12:	learn: 4114.9748501	total: 998ms	remaining: 6.68s
13:	learn: 4107.0318618	total: 1.06s	remaining: 6.54s
14:	learn: 4100.5494816	total: 1.12s	remaining: 6.37s
15:	learn: 4095.3746709	total: 1.19s	remaining: 6.24s
16:	learn: 4086.6010287	total: 1.25s	remaining: 6.11s
17:	learn: 4079.7254482	total: 1.31s	remaining: 5.97s
18:	learn: 4073.9774416	total: 1.37s	remaining: 5.84s
19:	learn: 4069.6450807	total: 1.42s	remaining: 5.66s
20:	learn: 4065.4485030	total: 1.48s	remaining: 5.56s
21:	learn: 4062.7148723	total: 1.52s	remaining: 5.39s
22:	learn: 4060.7051995	total: 1.55s	remaining: 5.2s
23:	learn: 4058.2095705	total: 1.62s	remaining: 5.12s
24:	learn: 4056.1561738	total: 1.68s	remaining: 5.04s
25:	learn: 4054.4977633	total: 1.74s	remaining: 4.94s
26:	learn: 4052.8515543	total: 1.8s	remaining: 4.87s
27:	learn: 4051.6147965	total: 1.86s	remaining: 4.79s
28:	learn: 4050.4080149	total: 1.92s	remaining: 4.7s
29:	learn: 4048.5343330	total: 1.98s	remaining: 4.62s
30:	learn: 4047.3533839	total: 2.04s	remaining: 4.54s
31:	learn: 4046.2162946	total: 2.1s	remaining: 4.46s
32:	learn: 4045.0819635	total: 2.16s	remaining: 4.38s
33:	learn: 4044.5108873	total: 2.22s	remaining: 4.32s
34:	learn: 4043.8042573	total: 2.28s	remaining: 4.24s
35:	learn: 4043.4428546	total: 2.32s	remaining: 4.13s
36:	learn: 4042.9221319	total: 2.38s	remaining: 4.06s
37:	learn: 4042.3074526	total: 2.44s	remaining: 3.99s
38:	learn: 4041.8024010	total: 2.5s	remaining: 3.92s
39:	learn: 4041.5084797	total: 2.56s	remaining: 3.85s
40:	learn: 4041.2578925	total: 2.62s	remaining: 3.78s
41:	learn: 4040.9272165	total: 2.69s	remaining: 3.71s
42:	learn: 4040.6967390	total: 2.75s	remaining: 3.65s
43:	learn: 4040.3253286	total: 2.82s	remaining: 3.59s
44:	learn: 4039.9351572	total: 2.88s	remaining: 3.52s
45:	learn: 4039.5189631	total: 2.95s	remaining: 3.46s
46:	learn: 4039.2978933	total: 3.02s	remaining: 3.4s
47:	learn: 4039.0988404	total: 3.07s	remaining: 3.33s
48:	learn: 4038.9113742	total: 3.13s	remaining: 3.26s
49:	learn: 4038.6242372	total: 3.19s	remaining: 3.19s
50:	learn: 4038.3069042	total: 3.25s	remaining: 3.13s
51:	learn: 4038.2147005	total: 3.31s	remaining: 3.06s
52:	learn: 4038.0947274	total: 3.37s	remaining: 2.99s
53:	learn: 4037.9213406	total: 3.43s	remaining: 2.92s
54:	learn: 4037.8362131	total: 3.49s	remaining: 2.86s
55:	learn: 4037.5739284	total: 3.55s	remaining: 2.79s
56:	learn: 4037.5426200	total: 3.58s	remaining: 2.7s
57:	learn: 4037.3478237	total: 3.65s	remaining: 2.64s
58:	learn: 4037.2100948	total: 3.7s	remaining: 2.57s
59:	learn: 4037.0643481	total: 3.77s	remaining: 2.51s
60:	learn: 4037.0330142	total: 3.83s	remaining: 2.45s
61:	learn: 4036.9677553	total: 3.89s	remaining: 2.38s
62:	learn: 4036.9435893	total: 3.93s	remaining: 2.31s
63:	learn: 4036.7075778	total: 4s	remaining: 2.25s
64:	learn: 4036.6289897	total: 4.07s	remaining: 2.19s
65:	learn: 4036.4911750	total: 4.19s	remaining: 2.16s
66:	learn: 4036.4010453	total: 4.27s	remaining: 2.1s
67:	learn: 4036.3048698	total: 4.34s	remaining: 2.04s
68:	learn: 4036.0901223	total: 4.41s	remaining: 1.98s
69:	learn: 4035.9671747	total: 4.47s	remaining: 1.92s
70:	learn: 4035.9324290	total: 4.53s	remaining: 1.85s
71:	learn: 4035.8931986	total: 4.59s	remaining: 1.78s
72:	learn: 4035.8733644	total: 4.61s	remaining: 1.71s
73:	learn: 4035.7957861	total: 4.68s	remaining: 1.64s
74:	learn: 4035.7720433	total: 4.7s	remaining: 1.57s
75:	learn: 4035.6365477	total: 4.74s	remaining: 1.5s
76:	learn: 4035.6187532	total: 4.78s	remaining: 1.43s
77:	learn: 4035.6031136	total: 4.8s	remaining: 1.35s
78:	learn: 4035.5883532	total: 4.86s	remaining: 1.29s
79:	learn: 4035.4692383	total: 4.92s	remaining: 1.23s
80:	learn: 4035.4215651	total: 4.99s	remaining: 1.17s
81:	learn: 4035.4104431	total: 5.01s	remaining: 1.1s
82:	learn: 4035.4023480	total: 5.04s	remaining: 1.03s
83:	learn: 4035.3128826	total: 5.1s	remaining: 972ms
84:	learn: 4035.2393590	total: 5.16s	remaining: 911ms
85:	learn: 4035.2393590	total: 5.18s	remaining: 844ms
86:	learn: 4035.1731620	total: 5.24s	remaining: 784ms
87:	learn: 4035.1015699	total: 5.3s	remaining: 723ms
88:	learn: 4035.0952106	total: 5.33s	remaining: 659ms
89:	learn: 4034.8431755	total: 5.39s	remaining: 599ms
90:	learn: 4034.6903034	total: 5.45s	remaining: 539ms
91:	learn: 4034.6754148	total: 5.51s	remaining: 479ms
92:	learn: 4034.5009468	total: 5.57s	remaining: 419ms
93:	learn: 4034.4816892	total: 5.63s	remaining: 359ms
94:	learn: 4034.3942016	total: 5.69s	remaining: 299ms
95:	learn: 4034.3942015	total: 5.7s	remaining: 238ms
96:	learn: 4034.3649535	total: 5.76s	remaining: 178ms
97:	learn: 4034.3173501	total: 5.82s	remaining: 119ms
98:	learn: 4034.2194444	total: 5.88s	remaining: 59.4ms
99:	learn: 4034.1485677	total: 5.94s	remaining: 0us

Enter the weather condition (rain, cloud, etc.):  rain
Enter the price actual:  532

Predicted total load actual: 36442.71874538394